/**************Text Decorations*****************/
.weightBold {
    -fx-font-weight: bold;
}

.weightNormal {
    -fx-font-weight: normal;
}

.styleItalic {
    -fx-font-style: italic;
}

.styleNormal {
    -fx-font-style: normal;
}

.decorationUnderscore {
    -fx-underline: true;
}

.decorationNormal {
    -fx-underline: false;
}

/**************Text Alignments*****************/
.alignmentLeft {
    -fx-text-alignment: left;

}

.alignmentRight {
    -fx-text-alignment: right;
}

.alignmentCenter {
    -fx-text-alignment: center;
}

.alignmentJustify {
    -fx-text-alignment: justify;
}

/**************Font Sizes*****************/
.fontsize10px {
    -fx-font-size: 10px;
}

.fontsize12px {
    -fx-font-size: 12px;
}

.fontsize14px {
    -fx-font-size: 14px;
}

.fontsize16px {
    -fx-font-size: 16px;
}

.fontsize18px {
    -fx-font-size: 18px;
}

.fontsize20px {
    -fx-font-size: 20px;
}

.fontsize22px {
    -fx-font-size: 22px;
}

.fontsize32px {
    -fx-font-size: 32px;
}

.fontsize48px {
    -fx-font-size: 48px;
}

.fontsize70px {
    -fx-font-size: 70px;
}

/**************Font Family*****************/
.fontFamilyBroadway {
    -fx-font-family: Broadway;
}

.fontFamilyArial {
    -fx-font-family: Arial;
}

.fontFamilyCalibri {
    -fx-font-family: Calibri;
}

.fontFamilyCourierNew {
    -fx-font-family: Courier New;
}

/**************Text Color*****************/
.colorRed {
    -fx-fill: red;
}

.colorBlue {
    -fx-fill: blue;
}

.colorGreen {
    -fx-fill: green;
}

.colorYellow {
    -fx-fill: yellow;
}

.colorPurple {
    -fx-fill: purple;
}

.colorWhite {
    -fx-fill: white;
}

.colorBlack {
    -fx-fill: black;
}

/**************Text Headings*****************/
.headingNone {

}

.headingHeader1 {
    -fx-fill: #42b0f4;
    -fx-font-family: Calibri;
    -fx-font-size: 18px;
}

.headingHeader2 {
    -fx-fill: #42b0f4;
    -fx-font-family: Calibri;
    -fx-font-size: 16px;
}

.headingHeader3 {
    -fx-fill: #42b0f4;
    -fx-font-family: Calibri;
    -fx-font-size: 14px;
}
/**************Text Headings*****************/

.highlight {
    -rtfx-background-color: D4D9DB;
}